body{
    margin-left: 0;
    margin-right: 0;
    background-image: url(./shin_godzilla_wallpaper__textless__by_grandkeizerghidorah_d9xl0kb-fullview.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
}

/*padding = distanciamento da borda e o texto*/
#secao1{
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
}
#secao2{
    border: 2px solid blueviolet;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 50px 30px 20px;
    margin: 5px;
}
#secao3{
    border: 2px solid chocolate;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#secao4{
    border: 2px solid red;
    border-radius: 5px 5px 5px 5px;
    /*margin: (top/bottom) (right/left)*/
    margin: 25px 50px;
}