/*Aplicar o estilo no primeiro filho*/
p:first-child{
    background-color: aquamarine;
}

/*Aplicar o esilo no último filho*/
p:last-child{
    background-color: blue;
}

p:nth-child(2){
    background-color: brown;
}