body {
  background-color: #533618;
  background-image: url(./Cartaz.jpeg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: center;
}
@media (max-width: 500px) {
  body {
    background-size: 100%;
  }
}
header {
  align-items: center;
  text-align: center;
  background-color: #c1c2bc;
  color: #000000;
  width: 31%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #c1c2bc;
  width: 30%;
  margin: 10px 0 10px;
  padding: 10px;
}
.saibaMais {
  background-color: #533618;
  border-radius: 10px;
  border: #8c867c;
}
.saibaMais:hover {
  background-color: #314a20;
}
.paragrafoHover:hover {
  color: #314a20;
}
#erenJeager {
  width: 40%;
  height: 70%;
  padding: 10px 10px 0 10px;
}
#sinopse {
  padding: 10px;
  float: right;
}

#trailerAOT {
  float: left;
  margin: 10px;
  width: 40%;
  height: 70%;
}
#dados {
  padding: 10px;
}
#imgNoticia1 {
  float: left;
  width: 40%;
}
#noticia1 {
  margin: 10px;
  background-color: #8c867c;
}
.textonoticia {
  padding: 10px;
}
.textonoticia:hover{
  color: #314a20;
}
#noticia2 {
  margin: 10px;
  background-color: #8c867c;
}
#imgNoticia2 {
  float: right;
  width: 40%;
}
#rodape::after {
  content: " ©/ Todos direitos reservados/ Gabriel Mitsuru";
}
#rodape {
  text-align: center;
  background-color: #c1c2bc;
  width: 31%;
}