/*grid container = propriedade display:grid = pai de todos os itens do grid*/
#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    column-gap: 10px;
    row-gap: 15px;
    /* grid-template-rows: repeat(3, 50px); */
    /*justify-items: center; horizoltal
    align-items: center; vertical*/
}
#item-1{
    grid-area: header;
}
#item-2{
    grid-area: main;
}
#item-3{
    grid-area: sidebar;
}
#item-4{
    grid-area: footer;
}
.itens{
    background-color: aquamarine;
    border: 1px solid violet;
    /* width: 50%;
    height: 50%; */
}
body{
    background-color: beige;
}